*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  background-color: peachpuff;
  min-height: 100%;
  padding-bottom: 50px;
}

.imgHome svg {
  width: 80%;
  position: relative;
  left: 30%;
  top: 75px;

}

.contactPic svg {
  position: relative;
  top: 100px;
  z-index: 0;
  height: 60%;
}

.navContainer {
  display: flex;
  background-color: rgb(95, 158, 160);
  margin: 0;
  padding: 10px;
  width:100%;
  position: fixed;
  top: 0;
  z-index: 1;
  left:0;
  justify-content:left
}

.navContainer a {
  text-decoration: none;
  color: rgb(5, 4, 5);
  padding: 3px;
  font-size: 19px;
}

.navContainer a:hover {
  color:plum;
}

.navContainer div {
  color: rgb(5, 4, 5);
  padding: 3px;
  font-size: 19px;
}

h1 {
  font-family: 'Assistant', sans-serif;
  color: rgb(3, 2, 2);
}

.contactEmail {
  top: 50px;
  position: relative;
  z-index: .8;
  width: 100%;
}

.mainMessage {
  position: absolute;
  z-index: 1;
  bottom: 5%;
}

.aboutTitle {
  position: absolute;
  top: 50px;
  z-index: 0.5;
}

.aboutMe {
  font-family: 'Assistant', sans-serif;
  position:absolute;
  top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
}

.aboutMe_svg svg{
  position: absolute;
  z-index: 1;
}

.project_title {
  position: absolute;
  top: 50px;
  z-index: 0.5;
}
.project_images img {
  height: 400px;
  width: 350px;
  border: 1px solid black;
}

.target {
    font-family: 'Assistant', sans-serif; 
    position:absolute;
    top: 130px;
    display:flex;
    gap: 10px;
    flex-direction: column;
}

@media screen and (min-width: 450px) {
    .target{
    flex-direction: row;
  }
}

footer {
    font-family: 'Assistant', sans-serif;
    position: relative;
    bottom: 5%;
    margin-top: 40%;
    margin-right: 0;
    width: 100%;
    text-align: center;
    height: 100px;
}
.socials {
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
  }
  
  .socials a {
    color: rgb(95, 158, 160);
  }
  
  .socials a:hover {
    color:plum;
  }